@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

body {
    background-color: #c4bfbf;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}



#alert{
    display: none;
}

form .error{
    color: #721c24;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    margin-bottom: 10px;
    display: none;
  }




.circle {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9ff1f7;
    color: rgb(7, 6, 6);
    font-size: 10px;
    border-radius: 50%
}

.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px
}

.form-input i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}




.form-control {
    height: 50px;
    background-color: #cfd8da;
    text-indent: 24px;
    font-size: 15px
}

.form-control:focus {
    background-color: #ced6e2;
    box-shadow: none;
    color: #fff;
    border-color: #4f63e7
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px
}

.signup {
    height: 100px;
    font-size: 14px
}

.social {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer
}

.social:hover {
    background-color: #49cfc9;
    border-color: #0d6efd
}

.b i {
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px
}

.user .content img {
height: 50px;
width: 50px;
border-radius: 50%;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%; 
}


.user header, .user-list a{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
}

.user header .content {
     display: flex;
}

.user .details{
    margin-left:15px ;
}

.user-list .content img{
    height: 50px;
    width:50px;
    border-radius: 50%;
}

.user-list a .content {
    display: flex;
}

.user-list .details{
    margin-left: 15px;;
}

.user-list a{
    text-decoration: none;
    color: rgb(20, 20, 173);
    page-break-after: 10px;
}

.user-list a .status-dot i{
    color: green;
}

.c1{

    height: 700px;
}

.card{
    
    
    
    
    
    padding: 10px 20px 20px 30px;
    background-color: #f6f7f8ec;

}
.user{
    height: 500px;
    overflow-y: auto;
    max-height: 500 px;
    
    padding: 10px 20px 20px 30px;
    background-color: #f6f7f8ec;
}

.signup {
    
    
    padding: 10px 20px 20px 30px;
    background-color: #f6f7f8ec;

}

.user-list .content .details span{
    font-size: 17px;
}

.user-list .content .details p{
    font-size: 14px;
    color: grey;
}

.user-list{
    border-bottom-style: solid;
    border-color: #dddcdc;
    margin-bottom: 5px;
    height: 60px;

    
}

.user header .content i{
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
}


/* chat box*/

.chat-box .outgoing{
    display: flex;
}

.outgoing .details{
    max-width: calc(100%-130px);
    margin-left: auto;
    
}

.chat-box{
    height: 500px;
    
    padding: 10px 20px 20px 20px;
}

.chat-box p{
    padding: 8px 16px;
}


.outgoing .details p{
    background-color: black;
    color: #eee;
    border-radius: 18px 18px 0 18px;
    margin-left: auto;
    
}

.chat-box .incoming{
    display: flex;
    align-items: center;
}

.incoming .details p{
    background-color: white;
    border-radius: 18px 18px 18px 0;
}

.user header{
    background-color: rgb(245, 234, 234);
    margin-left: 0px;
    margin-right: 0px;
}

.chat-box .chat p{
    word-wrap: break-word;
}

.chat-box .chat{
    
}
.send input{
    width: calc(100%-58px);
    margin-bottom: 20px;
    background-color: #dadfe7;
    height: 45px;
    padding: 0 13px;
}

